#title {
  text-align: center;
  padding-top: 10%;
  font-size: 72px;
  font-family: Century Gothic,sans-serif;
  font-weight: lighter;
  margin: 0px;
}
.center {
  text-align: center;
  margin: auto;
  padding-bottom: 33px;
}
#searchDiv {
  padding-top: 50px;
  padding-bottom: 20px;
}
#search {
  width: 55%;
  height:50px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 28px;
  font-family: Century Gothic,sans-serif;
  font-weight: lighter;
  padding: 12px 10px;
}

.bookmark-groups {
  padding-left: 50px;
  padding-right: 50px;
}

.btn-primary {
  background-color: rgba(0,0,0,0);
  color: black !important;
  border: 2px solid black !important;
}

.fill:hover {
    background-color: #50A6C2 !important;
    cursor: pointer !important;
}
.btn:focus, .btn:active {
   outline: none !important;
}
